{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block style %}style="background-color: gray"{% endblock %}
{% block main %}
	<br><br><br>
	<div class="container">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div class="card">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Portal de Ventas</div>
                    </div>
                        <div class="card-body">
                            <form action="/login" method="post">
                                <label>Usuario</label>
                                <input type="text" class="form-control input-sm" name="username">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control input-sm">
                                <p></p>
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a href="{{ url_for('register') }}" class="btn btn-danger">Registrar</a>
                            </form>
                        </div>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
{% endblock %}