{% extends 'layout.html' %}

{% block title %}
    Perfil
{% endblock %}

{% block main %}
    <strong><h3>Actualizar perfil</h3></strong><p></p>
    <br>
    <br>
    <form action="/perfil" method="post">
        <label>Username: {{ username }}</label><br>
        <label>Nombre</label>
        <input type="text" class="form-control input-sm" name="upd_nombre" value="{{ nombre }}">
        <label>Apellido</label>
        <input type="text" class="form-control input-sm" name="upd_apellido" value="{{ apellido }}">
        <label>Contraseña</label>
        <input type="password" name="upd_password" class="form-control input-sm">
        <label>Confirme contraseña</label>
        <input type="password" name="upd_confirmacion" class="form-control input-sm">
        <br>
        <button class="btn btn-warning" type="submit">Actualizar</button>
    </form>
{% endblock %}